.root {}

.content {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}

.item {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-bottom: 0.1rem solid;
    width: 100%;
}

.order {
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove {
    cursor: pointer;
    display: inline;
    padding: 0;
    border: 0;
    background-color: transparent;
    font-size: 1em;
    color: #AAA;
    text-decoration: underline;
}
